<?xml version="1.0" encoding="utf-8" ?>
<!-- Release version of App.config -->
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.2.0.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1" requirePermission="false"/>
  </configSections>

  <!-- Enable mixed-mode CLRv2 assemblies. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <runtime>
    <!-- Enable loading assemblies from network shares or downloaded from the internet. -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>

  <microsoft.scripting>
    <languages>
      <language names="IronRuby;Ruby;rb" extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.1.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </languages>

    <options>
      <set language="Ruby" option="StandardLibrary" value="..\..\Src\StdLib"/>
    </options>
  </microsoft.scripting>
</configuration>
